*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:visited,
*:link,
*:active {
  text-decoration: none;
  color: #F9FDFA;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #F9FDFA;
  font-weight: 400;
  line-height: 1.6;
}
